﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JInvoice_core</title>

    <link href="C:\Users\abhishek.munigety\source\repos\JInvoice_core\JInvoice_core\Data\jquery.dataTables.min.css" rel="stylesheet" />
    <link href="C:\Users\abhishek.munigety\source\repos\JInvoice_core\JInvoice_core\Data\dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">JInvoice_core</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - JInvoice_core - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/scripts/jquery-3.6.0.min.js"></script>
    <script src="C:\Users\abhishek.munigety\source\repos\JInvoice_core\JInvoice_core\scripts\jquery.dataTables.min.js"></script>
    <script src="C:\Users\abhishek.munigety\source\repos\JInvoice_core\JInvoice_core\scripts\dataTables.bootstrap5.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#MyTable").dataTable();
        });
    </script>
</body>
</html>
